div.css-1v0mbdj.etr89bj1{
	background-color: #fff;
	box-shadow: 0px 0px 30px;

}
div.stApp.css-ffhzg2.eczokvf0{
	background-color: #062633;
}
div.st-av.st-aw.st-ax.st-ay.st-ba.st-bc.st-b7.st-b4.st-b5.st-bd.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-b2.st-bn.st-bo.st-bp.st-bq.st-br.st-bs.st-bt{
	background-color: #113f5c;
	border-radius: 20px;
}
label.css-16huue1.effi0qh0{
	font-size: 22px;
}
button.css-1q8dd3e.edgvbvh1{
	background-color: #113f5c;
	border-radius: 20px;
}
button.css-1q8dd3e.edgvbvh1:hover{
  color: #fff;
  border-color:#062633 ;
  box-shadow: 0px 0px 30px;}